<div class="tree" >
    <ul class="branch">
        <li>{{ partial "fa.html" "folder-open" }}</i> portrait-sample
            <ul>
                <li>{{ partial "fa.html" "folder-open" }}</i> 000
                    <ul>
                        <li>{{ partial "fa.html" "folder-open" }}</i> date1
                            <ul>
                                <li>{{ partial "fa.html" "folder" }}</i> _azure_depth_camera_info</li>
                                <li>{{ partial "fa.html" "folder" }}</i> _azure_depth_image_raw</li>
                                <li>{{ partial "fa.html" "folder" }}</i> _mcu_imu</li>
                                <li>{{ partial "fa.html" "folder" }}</i> _sequences_ts</li>
                                <li>{{ partial "fa.html" "folder" }}</i> smartphone_video_frames</li>
                                <li>{{ partial "fa.html" "file" }}</i> CameraTrajectory.txt</li>
                            </ul>
                        </li>
                        <li>...</li>
                        <li>{{ partial "fa.html" "folder-open" }}</i> date5
                            <ul>
                                <li>...</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>...</li>
                <li>{{ partial "fa.html" "folder-open" }}</i> 200
                    <ul>
                        <li>{{ partial "fa.html" "folder" }}</i> date1</li>
                        <li>...</li>
                        <li>{{ partial "fa.html" "folder" }}</i> date5</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
